**/.terraform
.direnv
node_modules/
bin/
dist/
build/
public/
newman/
.idea
.DS_Store
.#*

__pycache__/
.envrc
.idea/
.venv/
.env
smoketest-report.xml
lambda_typescript/**/*.js
terraform/zips
.dir-locals.el
*.pyc
.python-version
**/.terraform/
sandbox/specification/
