**/.terraform
.direnv/
node_modules/
bin/
dist/
build/
public/
newman/
.idea/
.DS_Store
.#*
**/*.iml

__pycache__/
.venv/
.env
.envrc
smoketest-report.xml
lambda_typescript/**/*.js
terraform/zips
.dir-locals.el
*.pyc
.python-version
**/.terraform/
sandbox/specification/
openapi.json

**/.vscode/**/*
!**/.vscode/settings.json.default

devtools/volume/
