**/.terraform
.direnv
node_modules/
bin/
dist/
build/
public/
newman/
.idea
.DS_Store
.#*

__pycache__/
.envrc
.idea/
.venv/
.env
smoketest-report.xml
.dir-locals.el
*.pyc
.python-version
mock_provider/specification/
**/.terraform/