# This is an OpenAPI Specification (https://swagger.io/specification/)
# for immunisation-fhir-api owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: 'immunisation-fhir-api'
  version: 'Computed and injected at build time by `scripts/set_version.py`'
  description: |
    ## Overview
    Add a fully fledged description here with markdown syntax.
    For help completing the content of your API spec, see our guidance on the minimum standard (bronze) details 
    to include [here](https://nhsd-confluence.digital.nhs.uk/display/APM/Writing+a+bronze+API+cover+page). You should also base your content on our exemplar API - [PDS FHIR](https://digital.nhs.uk/developer/api-catalogue/personal-demographics-service-fhir).
    ## Who can use this API
    To be completed.
    ## Related APIs
    To be completed.
    ## API status and roadmap
    To be completed.
    ## Service level
    To be completed.
    ## Technology
    To be completed.
    ## Network access
    To be completed.
    ## Security and authorisation
    To be completed.
    ## Environments and testing
    To be completed.
    ## Onboarding
    To be completed.
  contact:
    name: 'immunisation-fhir-api API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/immunisation-fhir-api'
    description: Sandbox environment.
  - url: 'https://int.api.service.nhs.uk/immunisation-fhir-api'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/immunisation-fhir-api'
    description: Production environment.
paths:
  /immunisation:
    post:
      summary: Create Immunisation record event
      description: Creates a single immunisation record event.
      parameters:
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '201':
          description: Created
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/201_OperationOutcome'
              example:
                $ref: components/OperationOutcome/201_create-success.json
          headers:
            Location:
              description: 'A Location header which contains the new Logical Id and Version Id of the created resource version. If the server understands versioning, the version is included. If a server does not track versions, the Location header will just contain [base]/[type]/[id].'
              schema:
                type: string
                example: "/immunisation/c3f6145e-1a26-4345-b3f2-dccbcba62049/_history/versionId" 
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'
    get:
      summary: Search for an immunisation record event.
      description: Clients perform searches via HTTP GET by making an HTTP GET request to the appropriate context, with search parameters included as HTTP Query Parameters.
      parameters:
        - $ref: '#/components/parameters/ImmunisationEventID'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/200_OperationOutcome'
              example:
                $ref: components/OperationOutcome/200_get-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'
  /immunisation/{id}:
    get:
      summary: Get an Immunisation record event by ID
      description: Retrieves immunisation record event details by ID.
      parameters:
        - $ref: '#/components/parameters/ImmunisationEventID'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/200_OperationOutcome'
              example:
                $ref: examples/OperationOutcome/200_get-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'
    delete:
      summary: Delete an Immunisation record event by ID
      description: Logical deletion of an immunisation record event specified by ID. A delete interaction means that the resource can no longer found through a search interaction.
      parameters:
        - $ref: '#/components/parameters/ImmunisationEventID'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '200':
          description: Ok
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/200_OperationOutcome'
              example:
                $ref: components/OperationOutcome/200_get-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'
    put:
      summary: Update an Immunisation record event by ID
      description: The update interaction creates a new current version for an existing resource or creates an initial version if no resource already exists for the given id.
      parameters:
        - $ref: '#/components/parameters/ImmunisationEventID'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '200':
          description: Ok
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/200_OperationOutcome'
              example:
                $ref: components/OperationOutcome/200_get-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        '201':
          description: Created
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/201_OperationOutcome'
              example:
                $ref: components/OperationOutcome/201_create-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'

components:

  responses:
    4XX-imms:
      description: |
        Below are examples of potential HTTP status codes and their associated error codes, which could be returned in the event of a fault. 

        | HTTP status | Error code                 | Description |
        | ----------- | -------------------------- | --------------------------------------------- |
        | 400         | INVALID                    | The provided event ID is either missing or not in the expected format. |
        | 400         | BAD_REQUEST                | Search could not be processed or failed basic FHIR validation rules  |
        | 401         | UNAUTHORISED               | Authorization is required for the interaction that was attempted  |
        | 400         | BAD_REQUEST                | The resource could not be parsed or failed basic FHIR validation rules  |
        | 404         | NOT_FOUND                  | The requested resource was not found. |
        | 405         | NOT_ALLOWED                | The requested method is not allowed  |
        | 422         | UNPROCESSABLE_ENTITY       | The proposed resource violated applicable FHIR profiles or server business rules. This should be accompanied by an OperationOutcome resource providing additional detail  |

  schemas:
    200_OperationOutcome:
      $ref: components/schemas/200_OperationOutcome.yaml
    201_OperationOutcome:
      $ref: components/schemas/201_OperationOutcome.yaml
    400_OperationOutcome:
      $ref: components/schemas/400_OperationOutcome.yaml
    404_OperationOutcome:
      $ref: components/schemas/404_OperationOutcome.yaml

  parameters:
    ImmunisationEventID:
      in: path
      name: Id
      required: true
      description: |
        A required ID which you can use to identify and immunisation event object.
        
        Mirrored back in a response header. 
      schema:
        type: string
        example: 29dc4e84-7e72-11ee-b962-0242ac120002
    CorrelationID:
      in: header
      name: X-Correlation-ID
      required: false
      description: |
        An optional ID which you can use to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
        
        Mirrored back in a response header.
      schema:
        type: string
        example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
    RequestID:
      in: header
      name: X-Request-ID
      required: false
      description: |
        A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests and to trace the request if you contact our helpdesk.
        
        Must be a universally unique identifier (UUID) (ideally version 4).

        Mirrored back in a response header.

        If you re-send a failed request, use the same value in this header.
      schema:
        type: string
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        example: 60E0B220-8136-4CA5-AE46-1D97EF59D068

  headers:
    Correlation-Id:
     description: 'The X-Correlation-Id from the request header, if supplied, mirrored back.'
     schema:
       type: string
       format: uuid
       example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
    Request-Id:
     description: 'The X-Request-Id from the request header, if supplied, mirrored back.'
     schema:
       type: string
       format: uuid
       example: c1ab3fba-6bae-4ba4-b257-5a87c44d
