# This is an OpenAPI Specification (https://swagger.io/specification/)
# for immunisation-fhir-api owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: 'immunisation-fhir-api'
  version: 'Computed and injected at build time by `scripts/set_version.py`'
  description: |
    ## Overview
    Use this API to access the Immunisation Fhir service.
    ## Who can use this API
    Health and care organisations in England and the Isle of Man can access Immunisation fhir records. Legitimate direct care examples include NHS organisations delivering healthcare, local authorities delivering care, third sector and private sector health and care organisations, and developers delivering systems to health and care organisations. 
    Patients who receive health and social care or make use of NHS services in England, Wales, the Isle of Man, Scotland, Northern Ireland and the Channel Islands.
    ## Related APIs
    Immunisation History API
    ## API status and roadmap
    This API is in development.
    ## Service level
    To be completed.
    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).

    It conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#fhir) global standard for health care data exchange, specifically to [FHIR R4 (v4.0.1)](https://hl7.org/fhir/r4/), except that it does not support the [capabilities](http://hl7.org/fhir/R4/http.html#capabilities) interaction.
    
    You do not need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.
    In particular:
    - resource names are capitalised and singular, for example `/Patient` not `/patients`
    - array names are singular, for example `line` not `lines` for address lines
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    There are [libraries and SDKs available](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks) to help with FHIR API integration.
    ## Network access
    To be completed.
    ## Security and authorisation
    This API has three access modes:
    - application-restricted access
    - healthcare worker access
    - patient access

    The end user could be:
    * a healthcare worker - in which case you must ensure they are authenticated and suitably authorised locally
    * a patient - in which case you must ensure they are authenticated locally
    * not present at all - for example as part of a back end process to check NHS numbers for data flowing from one system to another
    
    ## Errors
    We use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:

    * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
    * 400 to 499 if it failed because of a client error by your application
    * 500 to 599 if it failed because of an error on our server
    
    Errors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.
    
    ## Environments and testing
    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Sandbox           | `https://sandbox.api.service.nhs.uk/immunisation-fhir-api`    |
    | Integration test  | `https://int.api.service.nhs.uk/immunisation-fhir-api`        |

    ## Onboarding
    To be completed.
  contact:
    name: 'immunisation-fhir-api API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/immunisation-fhir-api'
    description: Sandbox environment.
  - url: 'https://int.api.service.nhs.uk/immunisation-fhir-api'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/immunisation-fhir-api'
    description: Production environment.
paths:
  /immunisation:
    post:
      summary: Create Immunisation record event
      description: Creates a single immunisation record event.
      parameters:
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '201':
          description: Created
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                $ref: components/OperationOutcome/201_create-success.json
          headers:
            Location:
              description: 'A Location header which contains the new Logical Id and Version Id of the created resource version. If the server understands versioning, the version is included. If a server does not track versions, the Location header will just contain [base]/[type]/[id].'
              schema:
                type: string
                example: "/immunisation/c3f6145e-1a26-4345-b3f2-dccbcba62049/_history/versionId" 
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'
    get:
      summary: Search for an immunisation record event.
      description: Clients perform searches via HTTP GET by making an HTTP GET request to the appropriate context, with search parameters included as HTTP Query Parameters.
      parameters:
        - $ref: '#/components/parameters/ImmunisationEventID'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                $ref: components/OperationOutcome/200_get-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'
  /immunisation/{id}:
    get:
      summary: Get an Immunisation record event by ID
      description: Retrieves immunisation record event details by ID.
      parameters:
        - $ref: '#/components/parameters/ImmunisationEventID'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                $ref: examples/OperationOutcome/200_get-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'
    delete:
      summary: Delete an Immunisation record event by ID
      description: Logical deletion of an immunisation record event specified by ID. A delete interaction means that the resource can no longer found through a search interaction.
      parameters:
        - $ref: '#/components/parameters/ImmunisationEventID'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '200':
          description: Ok
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                $ref: components/OperationOutcome/200_get-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'
    put:
      summary: Update an Immunisation record event by ID
      description: The update interaction creates a new current version for an existing resource or creates an initial version if no resource already exists for the given id.
      parameters:
        - $ref: '#/components/parameters/ImmunisationEventID'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
      responses:
        '200':
          description: Ok
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                $ref: components/OperationOutcome/200_get-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        '201':
          description: Created
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                $ref: components/OperationOutcome/201_create-success.json
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/Correlation-Id'
            X-Request-ID:
              $ref: '#/components/headers/Request-Id'
        4XX:
          $ref: '#/components/responses/4XX-imms'

components:

  responses:
    4XX-imms:
      description: |
        Below are examples of potential HTTP status codes and their associated error codes, which could be returned in the event of a fault. 

        | HTTP status | Error code                 | Description |
        | ----------- | -------------------------- | --------------------------------------------- |
        | 400         | INVALID                    | The provided event ID is either missing or not in the expected format. |
        | 400         | BAD_REQUEST                | Search could not be processed or failed basic FHIR validation rules  |
        | 401         | UNAUTHORISED               | Authorization is required for the interaction that was attempted  |
        | 400         | BAD_REQUEST                | The resource could not be parsed or failed basic FHIR validation rules  |
        | 404         | NOT_FOUND                  | The requested resource was not found. |
        | 405         | NOT_ALLOWED                | The requested method is not allowed  |
        | 422         | UNPROCESSABLE_ENTITY       | The proposed resource violated applicable FHIR profiles or server business rules. This should be accompanied by an OperationOutcome resource providing additional detail  |

  schemas:
    OperationOutcome:
      $ref: components/schemas/OperationOutcome.yaml

  parameters:
    ImmunisationEventID:
      in: path
      name: Id
      required: true
      description: |
        A required ID which you can use to identify and immunisation event object.
        
        Mirrored back in a response header. 
      schema:
        type: string
        example: 29dc4e84-7e72-11ee-b962-0242ac120002
    CorrelationID:
      in: header
      name: X-Correlation-ID
      required: false
      description: |
        An optional ID which you can use to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
        
        Mirrored back in a response header.
      schema:
        type: string
        example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
    RequestID:
      in: header
      name: X-Request-ID
      required: false
      description: |
        A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests and to trace the request if you contact our helpdesk.
        
        Must be a universally unique identifier (UUID) (ideally version 4).

        Mirrored back in a response header.

        If you re-send a failed request, use the same value in this header.
      schema:
        type: string
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        example: 60E0B220-8136-4CA5-AE46-1D97EF59D068

  headers:
    Correlation-Id:
     description: 'The X-Correlation-Id from the request header, if supplied, mirrored back.'
     schema:
       type: string
       format: uuid
       example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
    Request-Id:
     description: 'The X-Request-Id from the request header, if supplied, mirrored back.'
     schema:
       type: string
       format: uuid
       example: c1ab3fba-6bae-4ba4-b257-5a87c44d
